<% if @requests.empty? %>
  <div class="jumbotron">
    <h1>Sorry ;(</h1>
    <p class="lead">You still have no requests in db.</p>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Requests
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Request Number</th>
            <th>Request Type</th>
            <th>Request Action</th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |req|%>
            <tr>
              <td><%= req.id %></td>
              <td><%= link_to req.request_number, request_path(req) %></td>
              <td><%= req.request_type %></td>
              <td><%= req.request_action %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
